.Blog article {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Blog article:first-of-type {
  margin-top: 0;
}

.Blog article:last-of-type {
  margin-bottom: 0;
}

.Blog > header {
  margin-bottom: 1rem;
}
