.Home ul {
  list-style-type: none;
}

.Home ul li {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Home ul li:first-of-type {
  margin-left: 0;
}

.Home ul li:last-of-type {
  margin-right: 0;
}

.Home ul li a {
  color: blue;
  text-decoration: none;
}
