.NewComment {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.NewComment input {
  min-height: 4rem;
  font-size: 1.5rem;
}

.NewComment textarea {
  font-size: 1.5rem;
  min-height: 6rem;
}
