.NewPost {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.NewPost label {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.NewPost label:first-of-type {
  margin-top: 0;
}

.NewPost input[type='text'] {
  font-size: 1.5rem;
}

.NewPost input[type='text'],
.NewPost input[type='button'],
.NewPost input[type='submit'] {
  min-height: 4rem;
  text-align: center;
}

.NewPost input[type='button'],
.NewPost input[type='submit'] {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.NewPost .checkbox {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.NewPost .checkbox label {
  display: block;
}

.NewPost textarea {
  font-size: 1.5rem;
  min-height: 300px;
}

.NewPost input[type='button']:focus,
.NewPost input[type='button']:hover,
.NewPost input[type='submit']:focus,
.NewPost input[type='submit']:hover {
  color: #ddd;
  background: #333;
}

.NewPost .message {
  font-size: 1rem;
}

.NewPost .error-message {
  color: red;
}

.Preview {
  text-align: left;
  font-size: 1.5rem;
}

.Preview input {
  min-height: 3rem;
}

.Preview .title {
  font-size: 2rem;
}

.Preview .sub-title {
  font-size: 1.25rem;
  margin-top: -2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 1280px) {
  .NewPost {
    max-width: 900px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .NewPost input,
  .NewPost textarea {
    margin: 0 auto;
    width: 100%;
  }

  .NewPost .checkbox label {
    display: inline;
    position: relative;
    bottom: 0.5rem;
    margin-right: 1rem;
  }

  .NewPost .checkbox span {
    font-size: 2rem;
  }

  .NewPost input[type='text'] {
    min-height: 2rem;
  }

  .NewPost input[type='text'],
  .NewPost textarea {
    display: block;
  }

  .Preview input {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .Preview input:hover,
  .Preview input:focus {
    color: #ddd;
    background: #333;
  }

  .Preview header {
    position: relative;
  }

  .Preview .title {
    margin-right: 1rem;
    font-size: 3rem;
  }

  .Preview .sub-title {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
  }

  .Preview .title,
  .Preview .sub-title {
    display: inline-block;
    border: none;
    margin-bottom: 0;
  }

  .Preview header {
    border-bottom: 1px solid #333;
  }
}
