.NewPost {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.NewPost label {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.NewPost label:first-of-type {
  margin-top: 0;
}

.NewPost input[type='text'] {
  font-size: 1.5rem;
}

.NewPost input[type='text'],
.NewPost input[type='button'],
.NewPost input[type='submit'] {
  min-height: 4rem;
  text-align: center;
}

.NewPost input[type='button'],
.NewPost input[type='submit'] {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.NewPost .checkbox {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.NewPost textarea {
  font-size: 1.5rem;
  min-height: 300px;
}

.NewPost input[type='button']:focus,
.NewPost input[type='button']:hover,
.NewPost input[type='submit']:focus,
.NewPost input[type='submit']:hover {
  color: #ddd;
  background: #333;
}

.NewPost.Preview {
  text-align: left;
  font-size: 1.5rem;
}

.NewPost.Preview input {
  min-height: 3rem;
}
