.Post {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.Post .sub-title {
  font-size: 1.25rem;
  margin-top: -2.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.Post a {
  color: #333;
  font-size: 1rem;
}
